/* reset code and common start here  */
:root{
    --transition: all 0.3s;
    --sacle: scale(1.1);
    --box-shadow: 0.2rem 0.2rem 0.2rem #e4dede, -0.2rem 0rem 0.2rem #ede3e3;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-weight: 500;
}
html{
    background-color: #fafafa;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Titillium Web", sans-serif;
}
body{
    background-color: #fff;
    width: 100rem;
    max-width: 100%;
    margin: auto;
    box-shadow: var(--box-shadow);
}
.text-justify{
    text-align: justify;
}
.text-align{
    color: #fff;
}
.btn{
    background-color: rgb(228, 97, 16);
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem 0;
    box-shadow: var(--box-shadow);
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: white;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* reset code and common end here  */ 

/* header start here  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 1, 66);
    color: white;
    padding: 1rem 1rem;

    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}
.logo-figure{
    border: 1.5px solid white;
    /* width: 60px;  */
    /* height: 60;  */
    /* background-color: #fff;  */
}
.logo{
    font-size: 6rem;
    cursor: pointer;
}
#menu-icon{
    display: none;
}
nav ul{
    display: flex;
    gap: 2rem;  
}
nav ul li{
    padding: 1rem;
    transition: var(--transition);
    transition-timing-function: linear;
}
nav ul li:hover{
    background-color: cadetblue;
    border-radius: 0.6rem;
    scale: 1.2;
}
.nav__link{
    color: #fff;
    font-size: 16px;
}
/* header ends here  */

/* banner section start here  */
.banner{
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}
.banner__title{
    display: inline-block;
    padding-bottom: 1.5rem;
    background-color: black;
    padding: 1rem;
    color: #fff;
    font-size: 4rem;

}
.banner__descrip{
    font-size: 1.8rem;
}
.banner article {
    flex-basis: 50%;
    margin: 1rem;
}
.banner aside{
    flex-basis: 50%;
    text-align: center;
}
.banner__image{
    width: 50rem;
    height: 50rem;
    border: 0.4rem solid;
}
/* banner section ends here  */

/* about section start here  */
#blog-about {
   background-color: #4c4c4c;
    
}
.section-title{
    font-size: 6rem;
    text-align: center;
    font-family: 'Italianno', cursive;
    padding: 8rem;
     
    
}
.section-center{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    justify-content: space-evenly;
    align-items: center; 
}
.cards {
  display: flex;
  flex-direction: center;
  align-items: center;
  gap: 1rem;
  
}
.card {
   flex: 1; 
   border-radius: 0.6rem;
   background-color: #c4c4c4;
   padding: 3rem 1rem;
   margin: 2rem;
   display: flex;
   flex-direction: column;
   gap: 0.6rem;
   align-items: center;
   transition: var(--transition);
    
    
}
.card:hover{
    transform: var(--sacle);
    background-color: cadetblue; 
}
.card__title{
    font-size: 3rem;
}.card__descrip{
    padding: 0.4rem 0;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}
.card__btn{
    width: 80%;
}
/* about section ends here  */

/* Archieves sectoin start here  */
.archieves-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    border-top: 0.2rem solid;
    border-bottom: 0.2rem solid;
}
.archieves__img{
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    transition: var(--transition);
    cursor: pointer;
}
.archieves__img:hover{
    transform: var(--sacle);
}
.archieves__lists{
    display: flex;
    text-align: center;
    gap: 2rem;
}
/* Archieves sectoin ends here  */

/* blog post Start here  */
.blog-posts{
    gap: 2rem;
    background-color: #4c4c4c;
}
.blog-post{
    background-color: #50594a;
   width: 70%;
   display: flex;
   /* flex-direction: row;    */
   margin: 1rem 0;
   box-shadow: var(--box-shadow);
   transition: var(--transition);
   color: #fafafa;
   
}
.blog-post:hover{
    transform: var(--sacle);
}
.blog-post__aside{
    flex: 1;
}
.blog-post__content{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 2rem;
    gap: 1rem;

} 
.blog-post__title{
   margin-bottom: 1rem;
   font-size: 2.5rem;
}
.blog-post__sub-title{
    font-size: 2rem;

}
.blog-post__descrip{
    font-size: 1.5rem;
    text-align: justify;
}
.blog-post__btn{
    width: 30%;
}

/* blog post ends here  */

/* contact-section start here  */
#contact-section{
    background-color: #3f2525;
    min-height: 95vh;
}
form{
    box-shadow: var(--box-shadow);
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    
}
.form-control{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.form-control label{
    font-size: 1.6rem;
    flex: 0.3;
}
.form-control > input, textarea{
    flex: 0.7;
    width: 40rem;
    padding: 2rem 1rem;
    border: none;
    border-radius: 0.6rem;
}
textarea{
    resize: none;
    height: 12vh;
}
.form-button-field{
    display: flex;
    justify-content: flex-end;
}
.contact__btn{
    width: 30%;
}
/* contact-section ends here  */

/* footer  */
.footer{
    background-color: #302a2a;
    color: #fafafa;
    height: 5vh;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;

}
.copyright__text{
    font-size: 1rem;
}
.footer__link{
    color: white;
}
.footer__link{
    color: white;
    transition: var(--transition);
}
.footer__icon:hover{
    background-color: rgb(219, 92, 8);
    transform: scale(2);
}
.footer__nav{
    display: flex;
    gap: 1.5rem;
}

/* responsiveness start here   */
@media screen and (max-width: 992px){
    .banner {
       flex-direction: column; 
        }
    .banner article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 768px){
    html{
        font-size: 55.5%;
    } 
    .banner article{
        width: 80%;
    }
    .cards{
        width: 80%;
        flex-direction: column;

    }
    #archieves{
        min-height: auto;
    }
    .blog-post{
        width: 80%;
        flex-direction: column;
        
    }

}
@media screen and (max-width: 600px){
    html{
        font-size: 48.6%;
    }
    header{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        padding-left: 2.5rem; 
    }
    .banner{
        min-height: auto;
    }
    .banner article{
        width: 90%;

    }
    .banner image{
       max-width: 100%;
    }
    #blog-about{
        min-height: auto;
    }
    .cards{
        width: 95%;
    }
    .archieves__lists{
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        gap: 1rem;
    }
    .blog-post{
        width: 90%;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        
        
    }
    .footer__icon{
        color: black;
    }
    #menu-icon{
        display: block;
        margin: 2rem 0;

    }
    .hidden{
        display: none;
    }
    
}
/* responsiveness ends here   */